:root{

    --type-normal:#A8A878;
    --type-fire:#F08030;
    --type-water:#6890F0;
    --type-electric:#F8D030;
    --type-grass:#78C850;
    --type-ice:#98D8D8;
    --type-fighting:#C03028;
    --type-poison:#A040A0;
    --type-ground:#E0C068;
    --type-flying:#A890F0;
    --type-psychic:#F85888;
    --type-bug:#A8B820;
    --type-rock:#B8A038;
    --type-ghost:#705898;
    --type-dragon:#7038F8;
    --type-dark:#705848;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

header{
    padding-block: 1rem;
    box-shadow: 0 0 2rem -1rem rgba(0,0,0, .5);
}

.light-buttons{
    display: flex;
    gap: 5rem;
    padding-bottom: 10px;
}

.button-blue{
    background-color:#1a699e;
    width:100px;
    height: 100px;
    border-radius: 100vmax; 
    display: flex;
    align-items: center;
    box-shadow: 10px 10px 10px rgba(0,0,0, .25);
}

.button-blue-dark{
   background-color: #2f85fa;
    width: 50px;
    height: 50px;
    border-radius: 100vmax;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 35px 0px 65px 7px;
}
.button-blue-light-white{
    background-color: rgb(218, 212, 212);
    width:50%;
    height: 50%;
    border-radius: 100vmax;
    margin: 0px 7px 10px 0px;
} 
}

nav{
    display:flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    padding-inline: 1rem;
}

.nav-list{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:.5rem;
}

.btn-header{
    background-color: var(--type-normal);
    color: white;
    padding: .5rem 1rem;
    border-radius: 100vmax;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 0 1rem rgba(0,0,0, .25);
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
}
ul{
    list-style-type:none;
}

button{
    background-color: transparent;
    border: 0;
    border-radius: 0;
}

.pokemon-image{
    width: 100%;
    height: auto;
}

.normal{
    background-color: var(--type-normal);
}

.fire{
    background-color: var(--type-fire);
}

.water{
    background-color: var(--type-water);
}

.electric{
    background-color: var(--type-electric);
}

.grass{
    background-color: var(--type-grass);
}

.ice{
    background-color: var(--type-ice);
}

.fighting{
    background-color: var(--type-fighting);
}

.poison{
    background-color: var(--type-poison);
}

.ground{
    background-color: var(--type-ground);
}

.flying{
    background-color: var(--type-flying);
}

.psychic{
    background-color: var(--type-psychic);
}

.bug{
    background-color: var(--type-bug);
}

.rock{
    background-color: var(--type-rock);
}

.ghost{
    background-color: var(--type-ghost);
}

.dragon{
    background-color: var(--type-dragon);
}

.dark{
    background-color: var(--type-dark);
}


