:root {

    --type-normal: #A8A878;
    --type-fire: #F08030;
    --type-water: #6890F0;
    --type-electric: #F8D030;
    --type-grass: #78C850;
    --type-ice: #98D8D8;
    --type-fighting: #C03028;
    --type-poison: #A040A0;
    --type-ground: #E0C068;
    --type-flying: #A890F0;
    --type-psychic: #F85888;
    --type-bug: #A8B820;
    --type-rock: #B8A038;
    --type-ghost: #705898;
    --type-dragon: #7038F8;
    --type-dark: #705848;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

header {
    padding-block: 1rem;
    box-shadow: 0 0 2rem -1rem rgba(0, 0, 0, .5);
    background: linear-gradient(to bottom, #d13a3a, #8b071a);
    /* Degradado de rojo a rojo oscuro */
}

.light-buttons {
    display: flex;
    gap: 5rem;
    padding-bottom: 10px;
}

.button-blue-dark {
    background-color: #2f85fa;
    width: 100px;
    height: 100px;
    border-radius: 100vmax;
    display: flex;
    align-items: center;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .25);
    overflow: hidden;
    position: relative;
    border: px solid black;
}

.button-blue-dark::before {
    content: "";
    width: 100px;
    height: 100px;
    background-color: #1a699e;
    border-radius: 50%;
    position: absolute;
    top: 7px;
    /* Ajusta el tamaño de la curva interna */
    left: 9px;
    /* Ajusta la posición para dar el efecto creciente */
}


.button-blue {
    background-color: #2f85fa;
    width: 50px;
    height: 50px;
    border-radius: 100vmax;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 35px 0px 65px 7px;
    z-index: 1000;
}

.button-blue-light-white {
    background-color: rgb(218, 212, 212);
    width: 50%;
    height: 50%;
    border-radius: 100vmax;
    margin: 0px 7px 10px 0px;
}

.button-yellow {
    background-color: #d4bd28ea;
    width: 40px;
    height: 40px;
    border-radius: 100vmax;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .25);
    overflow: hidden;
    position: relative;
    /* Agregado para habilitar el z-index de los hijos */
}

.button-yellow::before {
    content: "";
    width: 40px;
    height: 40px;
    background-color: #b39f19;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    /* Ajusta el tamaño de la curva interna */
    left: 5px;
    /* Ajusta la posición para dar el efecto creciente */
}

.button-yellow-gold {
    background-color: #d4bd28ea;
    width: 20px;
    height: 20px;
    border-radius: 100vmax;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /* Agregado para habilitar el z-index de los hijos */
    z-index: 1000;
    /* Ahora funcionará correctamente */
    margin: 0;
}

.button-yellow-gold-white {
    background-color: rgb(218, 212, 212);
    width: 50%;
    height: 50%;
    border-radius: 100vmax;
    margin: 3px 0px 0px 3px;
    z-index: 1000;
}

.button-red {
    background-color: #e12748;
    width: 40px;
    height: 40px;
    border-radius: 100vmax;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .25);
    overflow: hidden;
    position: relative;
    /* Agregado para habilitar el z-index de los hijos */
}

.button-red::before {
    content: "";
    width: 40px;
    height: 40px;
    background-color: #8b071a;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    /* Ajusta el tamaño de la curva interna */
    left: 5px;
    /* Ajusta la posición para dar el efecto creciente */
}

.button-red-dark {
    background-color: #e12748;
    width: 20px;
    height: 20px;
    border-radius: 100vmax;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /* Agregado para habilitar el z-index de los hijos */
    z-index: 1000;
    /* Ahora funcionará correctamente */
    margin: 0;
    bottom: 15px;
}

.button-red-dark-white {
    background-color: rgb(218, 212, 212);
    width: 50%;
    height: 50%;
    border-radius: 100vmax;
    z-index: 1000;
}

.button-green {
    background-color: #6fb67c;
    width: 40px;
    height: 40px;
    border-radius: 100vmax;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .25);
    overflow: hidden;
    position: relative;
    /* Agregado para habilitar el z-index de los hijos */
}

.button-green::before {
    content: "";
    width: 40px;
    height: 40px;
    background-color: #36693c;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    /* Ajusta el tamaño de la curva interna */
    left: 5px;
    /* Ajusta la posición para dar el efecto creciente */
}

.button-green-dark {
    background-color: #6fb67c;
    width: 20px;
    height: 20px;
    border-radius: 100vmax;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /* Agregado para habilitar el z-index de los hijos */
    z-index: 1000;
    margin: 2px 0px 0px 1px;
}

.button-green-dark-white {
    background-color: rgb(218, 212, 212);
    width: 50%;
    height: 50%;
    border-radius: 100vmax;
    z-index: 1000;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    padding-inline: 1rem;

}

.nav-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .5rem;
}

.btn-header {
    background-color: var(--type-normal);
    color: white;
    padding: .5rem 1rem;
    border-radius: 100vmax;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .25);
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
}

ul {
    list-style-type: none;
}

button {
    background-color: transparent;
    border: 0;
    border-radius: 0;
}

.pokemon-image {
    width: 100%;
    height: auto;
}

.normal {
    background-color: var(--type-normal);
    border-radius: 100vmax;
    text-align: center;
}

.fire {
    background-color: var(--type-fire);
    border-radius: 100vmax;
    text-align: center;
}

.water {
    background-color: var(--type-water);
    border-radius: 100vmax;
    text-align: center;
}

.electric {
    background-color: var(--type-electric);
    border-radius: 100vmax;
    text-align: center;
}

.grass {
    background-color: var(--type-grass);
    border-radius: 100vmax;
    text-align: center;
}

.ice {
    background-color: var(--type-ice);
    border-radius: 100vmax;
    text-align: center;
}

.fighting {
    background-color: var(--type-fighting);
    border-radius: 100vmax;
    text-align: center;
}

.poison {
    background-color: var(--type-poison);
    border-radius: 100vmax;
    text-align: center;
}

.ground {
    background-color: var(--type-ground);
    border-radius: 100vmax;
    text-align: center;
}

.flying {
    background-color: var(--type-flying);
    border-radius: 100vmax;
    text-align: center;
}

.psychic {
    background-color: var(--type-psychic);
    border-radius: 100vmax;
    text-align: center;
}

.bug {
    background-color: var(--type-bug);
    border-radius: 100vmax;
    text-align: center;
}

.rock {
    background-color: var(--type-rock);
    border-radius: 100vmax;
    text-align: center;
}

.ghost {
    background-color: var(--type-ghost);
    border-radius: 100vmax;
    text-align: center;
}

.dragon {
    background-color: var(--type-dragon);
    border-radius: 100vmax;
    text-align: center;
}

.dark {
    background-color: var(--type-dark);
    border-radius: 100vmax;
    text-align: center;
}

.pokemon-id-back {
    font-weight: bold;
    font-size: 1.5rem;
}

.Pokemon-content {

    width: 75%;

}


.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: opacity 2s ease;
}

.modal-body {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    position: relative;
    animation: fadeIn 2s;
}


.modal-body h2 {
    margin: 1rem 0;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    color: black;
    padding: 5px;

}

.modal-body-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.pokemon-characteristics {
    display: flex;
    flex-direction: column;
    width: 150px;
}

.pokeball-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.pokeball-container .pokeball {
    width: 330%;
    /* Increased size */
    height: auto;
    /* Increased size */
    padding-top: 35%;
}


.characteristics-for-pokemons {
    background-color: #f0f0f0;
    border-radius: 0px 0px 10px 10px;
    padding: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .25);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 1rem;
    animation: fadeIn 2s;
    transition: all 0.3s ease-in-out;
    font-size: larger;
    padding-right: 2rem;
}

.characteristics-for-pokemons:hover {
    box-shadow: 0 0 2rem rgba(0, 0, 0, .5);
}

.characteristics-for-pokemons h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;

}

.caracteristics-pokemon {
    border: 1px solid #ccc;
    border-radius: 10px 10px 0 0;
    font-weight: bold;
    display: flex;
    padding-left: 1rem;
    height: 2rem;
    align-items: center;
}

.content-header-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    gap: 1rem;
    /* Add spacing between child elements */
}

.header-modal {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* Align to the left */
    width: 100%;
    /* Ensure it spans the full width */
}


.content-name-header-modal {
    text-align: center;
    /* Center the text */
    margin: 0 auto;
    /* Center the container */
}

.generos {
    max-width: 2rem;
}

.container-characteristics {
    margin-bottom: 1rem;
    animation: fadeIn 2s;
    transition: all 0.3s ease-in-out;
    border-radius: 100vmax;
}

.container-characteristics:hover {
    transform: scale(1.05);
    box-shadow: 0 0 2rem rgba(0, 0, 0, .5);
}

.pokemon-types {
    display: flex;
    gap: 1rem;
    border-radius: 100vmax;
    flex-direction: column;
    margin-bottom: auto;
    position: relative;
}

.pokemon-types p {
    border: 1px solid #ccc;
    border-radius: 100vmax;
    padding: 0.5rem 1rem;
    font-weight: bold;
    text-align: center;
    margin: 0;
    font-size: 1.2rem;
    color: white;
}

.pokemon-types p:hover {
    box-shadow: 0 0 2rem rgba(0, 0, 0, .5);
    transition: all 0.3s ease-in-out;
}

.pokemon-types {
    position: relative;
    z-index: 1;
}

.container-types {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25%;
}

.pokemon-image-modal {
    margin-bottom: 1rem;
    width: 200px;
    height: auto;
    z-index: 3;
}

.stats-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
}

.stats-column {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.stat-item {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
    font-weight: bold;
}

.stat-bar {
    min-width: 130px;
    /* Set a fixed maximum width */
    height: 10px;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.stat-fill {
    height: 100%;
    width: calc(var(--stat-percentage, 0) * 1%);
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

.stat-fill::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.3), transparent);
    background-size: 200% 100%;
    animation: gradientSweep 4s linear infinite;
}

@keyframes gradientSweep {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: -200% 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.pokemon-description {

    gap: 1rem;
    margin-top: 1rem;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .25);
    animation: fadeIn 2s;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    font-size: larger;
    color: white;
    /* Dark gray for better contrast */
}


.pokemon-evolutions {
    display: flex;
    align-items: center;
    gap: 5rem;
    margin-top: 1rem;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .25);
    animation: fadeIn 2s;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    font-size: larger;
}



/* Make the modal responsive */
@media (max-width: 900px) {
    .container-characteristics {
        display: none;
    }

    .modal-body-content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .modal-body{
        font-size: smaller;
    }

    .pokemon-types p{
        font-size: smaller;
    }
    .stats-container {
        flex-direction: row;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

    .container-types {
        margin: 0px;
        display: flex;
        gap: 1rem;
        margin-bottom: 1rem;

    }

    .pokemon-evolutions {
        flex-direction: column;
        gap: 2rem;
    }
    .pokemon-evolutions img{
        width: auto !important;
        height: 50px !important;        
    }

    .pokemon-and-evolutions {
        display: flex;
        align-items: center;
        gap: 2rem;
        margin-left: 20%;
    }

    .pokemon-types {
        flex-direction: row;
        gap: 5rem;
    }

    .types-pokemon-top {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .pokemon-image-modal {
        width: 100%;
        height: auto;
        min-width: 100px;
    }

}